ul {
    list-style-type: none;
}

ul li  a {
    text-decoration: none;
    color: white;
}
ul li a:hover {
    opacity: 0.4;
}

nav li {
    padding: 5px;
}

.sidebar {
    background: grey;
    width: 100%;
    color: white;
    min-height: 100vh;
}
/* .settings {
    position: relative;
    display: inline-block;
} */

/* .setting-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
} */

/* .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
} */